﻿@model CarRentalSystem.Models.Order

@{
    ViewBag.Title = "Create";
}


<h3>Create Order</h3>
<form method="post" action="/Order/Create">
    <div class="inprow">
    <label>Order Title </label>
    <input type="text" name="order_title_new" />
    </div>
    <div class="inprow">
    <label>Order Date</label>
    <input type="text" name="order_date_new" />
    </div>
    <div class="inprow">
    <input type="submit" value="submit" />
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
