﻿@model CarRentalSystem.Models.Order

@{
    ViewBag.Title = "Details";
}
<h3>Details</h3>

<h4>@Model.ordertitle</h4>

<h4>@Model.orderdate</h4>

<div>
    @Html.ActionLink("Edit", "Edit/" + Model.OrderID)
</div>



<div class="promptlinkleft">
    @Html.ActionLink("Back to List", "Index")
</div>