﻿@model CarRentalSystem.Models.Order

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


<h4>Order</h4>
<br />
<form method="POST" action="/Order/Edit/@Model.OrderID">
    <div>
        <label>Title</label>
        <input type="text" value="@Model.ordertitle" name="Title" />
    </div>
    <div>
        <label>Date</label>
        <input type="text" value="@Model.orderdate" name="Date" />
    </div>

    <div>
        <input type="submit" value="Submit"/>
    </div>
</form>



<div>
    @Html.ActionLink("Back to List", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
