﻿@model practice.Models.Student
@{
                /**/

                ViewBag.Title = "Delete";
}



<h2>Delete</h2>
<h3> Are you sure?</h3>
<h4>  </h4>
<hr />
<d1 class="d1-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.S_Name)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.S_Name)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.S_Email)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.S_Email)
    </dd>


</d1>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "List")

    </div>
}

