﻿@model practice.Models.Student
@{
    ViewBag.Title = "Edit";
}


<h2>Edit Driver</h2>

<form method="POST" action="/Driver/Edit/@Model.StudentID">
    <div>
        <label>Name</label>
        <input type="text" value="@Model.S_Name" name="S_Name" />
    </div>
    <div>
        <label>Email</label>
        <input type="text" value="@Model.S_Email" name="S_Email" />
    </div>
    

    <div>
        <input type="submit" value="Submit" />
    </div>
</form>



<div>
    @Html.ActionLink("Back to List", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

