﻿@model IEnumerable<practice.Models.Student>
@{
    ViewBag.Title = "List";
}


<div class="banner" id="studentbanner">

</div>
<h2>List of Students</h2>


<div class="recadd">
    @Html.ActionLink("New Student", "New", "Student")
</div>

<table id="TableHeader" class="table">
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>
    @foreach (var item in Model)

    {
        <tr>

            <td>@item.S_Name</td>
            <td>@item.S_Email</td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StudentID }) |
                @Html.ActionLink("Details", "Details", new { id = item.StudentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StudentID })
            </td>
        </tr>
    }
</table>