﻿@model practice.Models.Student
    @{
        ViewBag.Title = "New";
    }

    <h2>New Student</h2>

        <form id="myform" action="/Student/Create" method="POST">
        <div class="inputrow">
            <label class="inputlabel"> Student ID</label>
            <input type="text" name="StudentID" />
        </div>
        <div class="inputrow">
            <label class="inputlabel"> Name</label>
            <input type="text" name="S_Name" />
        </div>

        <div class="inputrow">
            <label class="inputlabel"> Email </label>
            <input type="text" name="S_Email" />
        </div>
        <div class="inputrow">
            <input type="submit" value="Submit" />
        </div>
    </form>

    <br />

    <div>
        @Html.ActionLink("Back to List", "List")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

