﻿@model CarRentalSystem.Models.Car



@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form method="POST" action="/Order/Edit/@Model.carId">
    <div>
        <label>Title</label>
        <input type="text" value="@Model.title" name="Title" />
    </div>
    <div>
        <label>Type</label>
        <input type="text" value="@Model.type" name="Type" />
    </div>
    <div>
        <label>Description</label>
        <textarea type="text" value="@Model.description" name="Description"></textarea>
    </div>
    <div>
        <label>Price</label>
        <input type="text" value="@Model.price" name="Price" />
    </div>
    <div>
        <label>Orders</label>
        <input type="text" value="@Model.orders" name="Orders" />
    </div>

    <div>
        <input type="submit" value="Submit" />
    </div>
</form>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
