﻿@model IEnumerable<CarRentalSystem.Models.Car>

@{
    ViewBag.Title = "Cars";
}

<div class="carbanner" id="carbanner">
</div>
<br/>
<h2>Cars</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="MyTable" class="table">
    <tr>
        <th>Title</th>
        <th>Type</th>
        <th>Description</th>
        <th>Price</th>
        <th>Orders</th>

    </tr>

    @foreach (var item in Model)

    {
        <tr>

            <td>@item.title</td>
            <td>@item.type</td>
            <td>@item.description</td>
            <td>@item.price</td>
            <td>@item.orders</td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.carId }) |
                @Html.ActionLink("Details", "Details", new { id = item.carId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.carId })
            </td>
        </tr>
    }
</table>


