﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 380px;
    border:1px solid black;
    margin-bottom:20px;
}

.row {
    background-image: url(/images/1-avto.png);
    height:600px;
}

label {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.carbanner {
    height: 200px;
    width: 900px;
    position: relative;
}

#carbanner{
    background-image:url(/images/banner3.png);
    background-position:50% 50%;
    height:150px;
    width:1200px;
   
}
.inprow{
    margin-bottom:5px;

}
.inprow input[type="text"], .inprow textarea{
    box-sizing:border-box;
    box-shadow:none;
    border:1px solid #e0e0e0;
    padding-left:3px;
}
.inprow input[type="submit"]{
    background:#fefefe;
    border:1px solid #e0e0e0;
    color:#c3c3c3;
    margin-top:14px;
}
.inprow textarea{
    height:80px;
    width:400px;
}
.inplabel{
    font-size:16px;
    color:#212121;
    font-weight:bold;
    letter-spacing:.05em;
    margin-bottom:5px;
}