﻿@model MVCmovies.Models.Movie
@{
    ViewBag.Title = "New";
}

<h2>New Movie</h2>


<form id="myform" action="/Movie/Create" method="POST">
    <div class="inputrow">
        <label class="inputlabel"> Title </label>
        <input type="text" name="Title" />
    </div>
    <div class="inputrow">
        <label class="inputlabel"> ReleaseDate </label>
        <input type="DateTime" name="ReleaseDate" />
    </div>
    <div class="inputrow">
        <label class="inputlabel"> Genre </label>
        <input type="text" name="Genre" />
    </div>
    <div class="inputrow">
        <label class="inputlabel"> Price </label>
        <input type="text" name="Price" />
    </div>


    <div class="inputrow">
        <input type="submit" value="Submit" />
    </div>
</form>

<br />

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}