﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Car Rental Application</h1>
    <p class="lead">Register customers, add cars and checkout rentals from this application</p>
   
</div>

<div class="row">
    <div class="col-md-8">
        <h2>@Html.ActionLink("Customers", "List", "Customers")</h2>

    </div>
    <div class="col-md-8">
        <h2>@Html.ActionLink("Car", "List", "Car")</h2>

    </div>
    <div class="col-md-8">
        <h2>@Html.ActionLink("Rental", "List", "Order")</h2>

    </div>
    <div class="col-md-8">
        <h2>@Html.ActionLink("Employees", "List", "Employees")</h2>

    </div>
</div>